.formContainer {
  text-align: center;
  margin-bottom: 50px;
}

.input {
  all: unset;
  background-color: #d5d1d1;
  text-align: left;
  margin-right: 15px;
  margin-left: 5px;
  border-radius: 10px;
  color: #2950f7;
  height: 30px;
  border: 2px solid #757675;
  padding: 8px 12px;
  font-family: 'Nunito', sans-serif;
  transition: background 0.3s ease 0s;
}

.input:focus {
  background-color: #3A423B;
  border: 2px solid #d5d1d1;
  color: #C6D3C5;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
