.todoActionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
}

.button {
  background-color: #67b2ff;
  color: #1c53f2;
}
.button:hover {
  background-color: #58a4f2;
  color: #0d43e1;
}
