.button {
  padding: 10px 24px;
  background-color: #25F582;
  color: #1FA068;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.17s ease 0s;
}

.button:hover {
  background-color: #3DCC76;
  color: #07854B;
}

.button:active {
  background-color: #3DCC76;
  color: #07854B;
}
