.button {
  padding: 10px 24px;
  background-color: #25f582;
  color: #1fa068;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.17s ease 0s;
}

.button:hover {
  background-color: #3dcc76;
  color: #07854b;
}

.button:active {
  background-color: #3dcc76;
  color: #07854b;
}
